#
# Copyright (C) <2024-2025>
#   <Cypress Semiconductor Corporation (an Infineon company)>
#
# Default configuration file for CAT1D category of microcontrollers.
# The definitions can be overwritten from the family and device-specific
# configuration file(s)


###############################################################################
# CPU cores availability for the debugger and the acquisition methods
###############################################################################

set_or_global ENABLE_CM0                0
set_or_global ENABLE_CM33               1
set_or_global ENABLE_CM55               0
set_or_global ENABLE_ACQUIRE            1
set_or_global DEBUG_CERTIFICATE_ADDR    $SRAM_S_BASE


###############################################################################
# DAP and TAPs settings
###############################################################################

set_or_global AP_SEL_SYS                0xF0000000
set_or_global AP_SEL_CM33               0xF0002000
set_or_global AP_SEL_CM55               0xF0006000
set_or_global AP_CSW_S                  0x0B000000 ; # SPROT=0 (S),  Priv=1
set_or_global AP_CSW_NS                 0x4B000000 ; # SPROT=1 (NS), Priv=1

###############################################################################
# Working area
###############################################################################

set_or_global WORKAREAADDR              $SRAM_S_BASE
set_or_global WORKAREASIZE              $SRAM_SIZE
