#
# Copyright (C) <2024-2025>
#   <Cypress Semiconductor Corporation (an Infineon company)>
#
# Common subroutines and definitions for ARM cores

namespace eval arm {

	###############################################################################
	# System Control Block (SCB) Registers
	###############################################################################

	variable CPUID                      0xE000ED00 ; # CPUID Base Register
	variable CPUID_IMPLEMENTER_MSK      0xFF000000 ; # CPUID [31:24] : IMPLEMENTER
	variable CPUID_IMPLEMENTER_ARM      0x41000000 ; # CPUID [31:24] == 0x41 : ARM
	variable VTOR                       0xE000ED08 ; # VTOR -  Vector Table Offset Register
	variable VTOR_TBLOFF_MSK            0xFFFFFF80 ; #         [31:7] TBLOFF
	variable AIRCR                      0xE000ED0C ; # AIRCR - Application Interrupt and Reset Control
	variable AIRCR_SYSRESETREQ_VAL      0x05FA0004 ; #         AIRCR_VECTKEY | AIRCR_SYSRESETREQ
	variable DHCSR                      0xE000EDF0 ; # DHCSR - Debug Halting Control and Status Register
	variable DHCSR_S_SLEEP_MSK          0x00040000 ; #         [18] : S_SLEEP
	variable DEMCR                      0xE000EDFC ; # DEMCR - Debug Exception and Monitor Control Register
	variable DEMCR_VC_CORERESET_VAL     0x01000001 ; #         TRCENA | VC_CORERESET
}